#menu-executivo {
    padding: 10vw;
    overflow-y: auto;
}

#menu-executivo h1 {
    color: #3F2305;
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 6px;
}

#menu-executivo h4 {
    margin-top: 10px;
    margin-bottom: 2.5rem;
    color: #3F2305;
    font-size: 1rem;
    line-height: normal;
    font-weight: 500;
}

#menu-executivo h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 30px;
    color: #A39671;
}

#menu-executivo div:has(span) {
    display: flex;
    flex-direction: column;
    color: #3F2305;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}